@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;

    background-color: #f0f0f0;
}

.reroll,
svg {
    margin: 1em;
}

.colors {
    margin-top: 1em;
    justify-content: center;

}

@media (orientation: portrait) {
    .colors {
        display: flex;
    }

    .sidebar {
        display: none;
    }
}

@media (orientation: landscape) {
    .colors {
        display: none;
    }

    .sidebar {
        display: flex;
    }
}

.color {
    width: 5em;
    height: 5em;
    margin: .5em;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.sidebar {
    @media(orientation: portrait) {
        display: none;
    }

    @media(orientation: landscape) {
        display: flex;
    }
}